<%- include("./partials/header") %>

<div class="container">
	<div class="jumbotron">
		
		<h1>Welcome to MicroBlog</h1>

		<p>MicroBlog就是微博啦</p>

		<p>
			<a href="/login" class="btn btn-primary btn-lg">Login</a>
			<a href="/reg" class="btn btn-lg btn-default">Register</a>
		</p>
	</div>
</div>



<%- include("./partials/footer") %>