<h1>This is the secret page</h1>

<p>I am here!</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSZyfub2XWMhmIbPkV2Hl2s0PCI2-QATW8mylewU_hUVnWhJUnQ&usqp=CAU">


<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>